adjustText==0.7.3
certifi==2022.12.7
commonmark==0.9.1
et-xmlfile==1.0.1
geomloss==0.2.5
gseapy==1.0.2
ipython-genutils==0.2.0
keopscore==2.1
llvmlite==0.39.1
lockfile==0.12.2
munkres==1.1.4
openpyxl==3.0.10
pandas==1.5.2
pexpect==4.8.0
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.10.1
pykeops==2.1
requests-toolbelt==0.9.1
scipy==1.9.3
sip==4.19.13
torchmetrics==0.6.0
webencodings==0.5.1
